.menu {
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  // justify-content: center;
  margin-bottom: 40px;
  align-items: flex-start;
}

.menu__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
