.portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio__items {
  // width: calc((100% - 60px) / 3);
  display: block;
  gap: 30px;

  @media screen and (min-width: 768px) {
    max-width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-page-color);
}

.portfolio-box {
  background: #ffffff;
}

.portfolio-wrap {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  .portfolio__items:hover & {
    transform: translateY(0%);
  }
}
