.work {
  display: none;
  padding-bottom: 94px;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work__wrap {
  position: relative;
}

.img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
